<div class="map">
    <div class="row">
        <div class="col-6 add">
            <iframe
                src="
                https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15086.556375007825!2d72.8475838!3d19.0356186!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8d4c725e1e430d1d!2sMESCO+TRUST!5e0!3m2!1sen!2sin!4v1559380908307!5m2!1sen!2sin "
                width="450" height="300" frameborder="
                0"></iframe>
        </div>
        <div class="col-6 rightcontent">
            <h1>MESCO</h1>
            <p class="f20 mb-5">
                Modern Educational Social & Cultural Organization
            </p>
            <p class="f20 mb-4">REGD. OFFICE:</p>
            <p> 110, Natalwala Building, </p>
            <p> V. S. Road, Mahim(W), </p>
            <p class="mb-5"> Mumbai - 400 016. </p>
            <p class="f20 mb-4">ADMIN OFFICE:</p>

            <p> 1 & 2, Plot No 423, Landmark Building, </p>
            <p> Next to Johnson & Johnson, Near Saraswati Mandir School, </p>
            <p> Senapati Bapat Marg, Mahim(W), </p>
            <p> Mumbai - 400016. </p>

            <p class="my-3"> <span class="f20">Email: </span> mescotrust@mescotrust.org </p>

            <p>
                <span class="f20 mb-5"> Tel: </span> (+9122) 24441442 / (+9122) 24448637
            </p>
        </div>
    </div>
</div>