<div class=" container-fluid volunteer">
    <app-topheader></app-topheader>
    <app-mainheader></app-mainheader>
    <div class="heading_v">
        <p>Volunteer</p>
    </div>
    <div class="container">
        <p>
            Send us message
        </p>
        <div class="inputs">
            <label for="name">Name:*</label>
            <br>
            <input type="text">
        </div>
        <div class="inputs">
            <label for="address">Address:*</label>
            <br>
            <input type="text">
        </div>
        <div class="inputs">
            <label for="telephone">Telephone:*</label>
            <br>
            <input type="number">
        </div>
        <div class="inputs">
            <label for="email">Email:*</label>
            <br>
            <input type="email">
        </div>
        <div class="inputs">
            <label for="dob">Date Of Birth:*</label>
            <br>
            <input type="date">
        </div>
        <div class="inputs">
            <label for="gender">Gender:*</label>
            <br>
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="1">Male</mat-radio-button>
                <mat-radio-button value="2">Female</mat-radio-button>
              </mat-radio-group>
        </div>
        <div class="button">
            <button mat-flat-button>Next</button>
        </div>
    </div>
</div>
<app-footer></app-footer>