.notice{
    .heading_n{
        height: 200px;
        width: 100%;
        background-color: #9c0303;
        display: flex;
        align-items: center;
        justify-content: center;
        p{
            color: white;
            font-size: 35px;
        }
    }
}