.events{
    padding: 20px 0px;
    // position: relative;
    h2{
        font-weight: bold;
    }
    .img{
        display: flex;
        justify-content: space-between;
        // position: relative;
        img{
            height: 250px;
            width: 230px;
        }
       
    }
    

}
.position{
    position: relative;
}
 .title{
            position: absolute;
        }