.events{
    padding: 20px 0px;
    h2{
        font-weight: bold;
    }
    .img{
        display: flex;
        justify-content: space-between;
        img{
            height: 250px;
            width: 230px;
        }
    }
    

}