<div class=" container-fluid donate">
    <app-topheader></app-topheader>
    <app-mainheader></app-mainheader>
    <div class="row content">
        <div class="col-md-6 left">
            <div class="l-img">
                <img src="assets/img/DonateIcon.png"> Donate
            </div>
            <div class="l-help">
                Helping people live a better tomorrow!
            </div>
            <div class="l-button">
                <button mat-flat-button>
                    <span class="p1">Donate Now</span>
                    <p class="p2">Powered by State Bank Collect</p>
                </button>
                <button mat-flat-button>
                    <span class="p1">Donate Now</span>
                    <p class="p2">Powered by CC Avenue</p>
                </button>

            </div>
            <div class="l-contactus">
                For more information <span> contact us </span>
            </div>
        </div>
        <div class="col-md-6 right">
            <mat-card>
                <div class="heading">
                    <p>
                        Payment Details
                    </p>
                </div>
                <div class="underline">

                </div>
                <p>
                    Payment can be made by NEFT,RTGS.
                </p>
                <div class="detail" *ngFor="let detail of bank">
                    <p class="d-p">
                        <span class="bold">
                            {{detail.title}}
                        </span>
                        <span>
                            {{detail.des}}
                        </span>

                    </p>
                </div>
                <p>
                    Kindly intimate the payment details to us as well as retain copy of DD / Bank Pay-in slip.
                </p>
            </mat-card>
        </div>
    </div>
    
</div>
<app-footer></app-footer>