.header{
    margin: 10px 30px;
    .logo{
        display: flex;
        align-items: center;
       img{
           height: 80px;
       }
    }
    .btn-header{
        button{
            background-color: #9c0303;
            border-radius: 7px;
            color: white;
            font-size: 16px;
            margin: 10px 10px;
            border: 2px solid #9c0303;
            &:hover{
                background-color: white;
                color: #9c0303;
            }
        }

    }
    .tabs{
        ul{
            color: #9c0303;
            font-size: 15px;
            li{
                list-style: none;
                float: left;
                margin: 0px 10px;
                cursor: pointer;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}

.matitems{
    ul{
        color: #9c0303;
        font-size: 15px;
        padding-left: 0rem;
        li{
            color: #9c0303;
            list-style: none;
            cursor: pointer;
            &:hover{
                text-decoration: underline;
             }
        }

    }
} 