.n_section3{
    margin-top: 50px;
    padding: 20px 0px;
    .div1{
        text-align: center;
        p{
            font-weight: bold;
            font-size: 30px;
            color: black;
        }
    }
    .div2{
        border: 2px solid #9c0303;
        text-align: center;
        margin: auto;
        width: 70px;

        
    }
}

.achivement{
    padding: 50px 0px;
    max-height: 2000px;
    min-height: 1300px;
    
    
    
    img{
        height: 300px;
        width: 300px;
        margin-bottom: 10px;
    }
}

.title{
    font-weight: bold;
    font-size: 18px;
    padding: 5px 10px;
}
.content{
    width: 31%;
    float: left;
    margin: 15px 15px 30px 5px;
}