<div class="container-fluid home">
    <div class="button-events">
        <button mat-flat-button>Notice & Events</button>
    </div>
    <app-topheader></app-topheader>
    <app-mainheader></app-mainheader>
    <app-section1></app-section1>
    <div class="centercontent container">
        <app-section2></app-section2>
        <app-section3></app-section3>
        <app-section4></app-section4>
    </div>
    <app-section5></app-section5>
    <app-section6></app-section6>
</div>
<app-section7></app-section7>
<app-footer></app-footer>