<div class="slider">
    <div class="wholeCarousel">
        <owl-carousel-o [options]="customOptions" #owlCar1>

            <ng-container *ngFor="let item of images">
                <ng-template carouselSlide>

                    <div class="text">
                        <div>
                            <h1> {{item.text}} </h1>
                            <p>{{item.desc}}</p>
                        </div>
                       
                    </div>
                    <div class="slide">
                        <img [src]="item.img" style="height: 400px;" alt="">
                    </div>

                </ng-template>

            </ng-container>


        </owl-carousel-o>
    </div>


</div>

