.awards{
    border: 3px solid black;
    padding: 20px 2%;
    .div1{
        text-align: center;
        p{
            font-weight: bold;
            font-size: 30px;
            color: black;
        }
    }
    .div2{
        border: 2px solid #9c0303;
        text-align: center;
        margin: auto;
        width: 70px;

        
    }

}

.div3{
    padding: 0px 10%;
    .wholeCarousel{
        border: 2px solid red;
        margin: 0% 10%;
        .slide{
            height: 200px;
            width: 200px;
        }
    }

}