// .achivements{
//     display: block;
//     border: 2px solid green;
//     img{
//         height: 350px;
//         width: 350px;
//         margin-bottom: 10px;
//     }
// }

// .title{
//     font-weight: bold;
//     font-size: 18px;
// }
// .content{
//     width: 50%;
//     float: left;
//     margin: 15px 0px;
// }

.achivement{
    padding: 50px 0px;
    height: 1000px;
    img{
        height: 350px;
        width: 350px;
        margin-bottom: 10px;
    }
}

.title{
    font-weight: bold;
    font-size: 18px;
}
.content{
    width: 50%;
    float: left;
    margin: 15px 0px;
}