<div class="container text-center read-more my-5">
    <h1>
        CORPORATE SOCIAL RESPONSIBILITY
    </h1>
    <p>
        Corporate Social Responsibility (CSR) has acquired new dimensions in the arena of business world in recent
        years. Today, companies are proactively taking up this good hearted investment and giving a social value to
        all their business endeavours.
    </p>
    <p>
        In India, though corporate have a strong will to dedicate their resources for a social cause, they find it
        difficult to reach out to the right people considering the demography and diverse social problems of the
        country. MESCO is one such catalyst that works towards the needs of development while helping corporate in
        investing in their social initiatives. MESCO helps corporate in strengthening their CSR programmes by
        letting them adopt, initiate or partner in various schemes.
    </p>
    <p>
        India is the first country to have mandated CSR spending on companies with net worth of INR 500/- crores or
        more, or turnover of INR 1000/- crores or more, or net profit of INR 5/-crores or more in a financial year.
        Companies falling under these categories are mandated to spend 2% of their average net profits on social
        activities since April 2013.
    </p>

    <button mat-flat-button>Read More</button>
</div>