.donate{
    padding: 0;
    .content{
        background-color: rgb(235, 235, 235);
        padding: 5%;
    }
}

img{
    height: 50px;
}

button{
    background-color: #9c0303;
    border-radius: 40px;
    color: white;
    font-size: 20px;
    margin: 10px 10px;
    border: 2px solid #9c0303;
    &:hover{
        background-color: white;
        color: #9c0303;
    }
}










mat-card{
    padding: 30px;
.heading{
    
    p{
        font-weight: bold;
        font-size: 20px;
        color: black;
    }
}
.underline{
    
    border: 2px solid #9c0303;
    width: 50px;
    margin-bottom: 20px;
}
}
.detail{
    .d-p{
        .bold{
            font-weight: bold;
        }
    }
}